@import url("https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Elms Sans", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-[#fafbfc];
  }
}

@layer base {
  /* 1. Kills the scrollbar on the main website body (Firefox, Edge) */
  html, body, #root {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* 2. Kills the scrollbar for Chrome, Safari, and literally everything else (*) */
  *::-webkit-scrollbar {
    display: none;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

* {
  cursor: default;
}

input:not([readonly]):not(:disabled),
textarea:not([readonly]):not(:disabled) {
  cursor: text;
}

button,
a,
select,
[role="button"] {
  cursor: pointer;
}

.perspective-1000 {
  perspective: 1000px;
}
.preserve-3d {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}
